<a href="https://colab.research.google.com/github/victorbahlangene/Natural-language-Processing-with-Transformers-Tutorial/blob/main/Ch1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Text Classification

In [ ]:
!pip install transformers

In [10]:
from transformers import pipeline

In [ ]:
classifier = pipeline("text-classification")

In [12]:
text = """Dear Amazon, last week I ordered an Optimus Prime action figure
from your online store in Germany. Unfortunately, when I opened the package,
I discovered to my horror that I had been sent an action figure of Megatron
instead! As a lifelong enemy of the Decepticons, I hope you can understand my
dilemma. To resolve the issue, I demand an exchange of Megatron for the
Optimus Prime figure I ordered. Enclosed are copies of my records concerning
this purchase. I expect to hear from you soon. Sincerely, Bumblebee."""

In [13]:
import pandas as pd

In [14]:
outputs = classifier(text)

In [15]:
outputs

[{'label': 'NEGATIVE', 'score': 0.9015460014343262}]

In [16]:
pd.DataFrame(outputs)

      label     score
0  NEGATIVE  0.901546

# Named Entity Recognition(NER)

In [ ]:
ner_tagger = pipeline("ner", aggregation_strategy="simple")
ner_tagger

In [18]:
outputs = ner_tagger(text)
pd.DataFrame(outputs)

  entity_group     score           word  start  end
0          ORG  0.879011         Amazon      5   11
1         MISC  0.990859  Optimus Prime     36   49
2          LOC  0.999755        Germany     90   97
3         MISC  0.556571           Mega    208  212
4          PER  0.590256         ##tron    212  216
5          ORG  0.669692         Decept    253  259
6         MISC  0.498349        ##icons    259  264
7         MISC  0.775362       Megatron    350  358
8         MISC  0.987854  Optimus Prime    367  380
9          PER  0.812096      Bumblebee    502  511

# Question Answering

In [ ]:
reader = pipeline("question-answering")
reader

In [20]:
question = "What does the customer want?"

In [21]:
outputs = reader(question=question, context=text)
pd.DataFrame([outputs])

      score  start  end                   answer
0  0.631292    335  358  an exchange of Megatron

# Summarization

In [ ]:
summarizer = pipeline("summarization")
summarizer

In [26]:
outputs = summarizer(text, max_length=100, clean_up_tokenization_spaces=True)

In [28]:
outputs

[{'summary_text': ' Bumblebee ordered an Optimus Prime action figure from your online store in Germany. Unfortunately, when I opened the package, I discovered to my horror that I had been sent an action figure of Megatron instead. As a lifelong enemy of the Decepticons, I hope you can understand my dilemma.'}]

In [27]:
print(outputs[0]['summary_text'])

 Bumblebee ordered an Optimus Prime action figure from your online store in Germany. Unfortunately, when I opened the package, I discovered to my horror that I had been sent an action figure of Megatron instead. As a lifelong enemy of the Decepticons, I hope you can understand my dilemma.

# Translation (has issues)

model="Helsinki-NLP/opus-mt-en-de" had issues.

In [ ]:
translator = pipeline("translation_en_to_de")

In [34]:
outputs = translator(text, clean_up_tokenization_spaces=True, min_length=100)

In [35]:
print(outputs[0]['translation_text'])

Dear Amazon, last week I ordered an Optimus Prime action figure from your online store in Germany. Unfortunately, when I opened the package, I discovered to my horror that I had been sent an action figure of Megatron instead!As a lifelong enemy of the Decepticons, I hope you can understand my dilemma.To resolve the issue, I demand an exchange of Megatron for the Optimus Prime figure I ordered. Enclosed are copies of my records concerning this purchase. I expect to hear from you soon. Sincerely

# Text Generation

In [ ]:
generator = pipeline("text-generation")

In [37]:
response = "Dear Bumblebee, I am sorry to hear that your order was mixed up."
prompt = text + "\n\nCustomer service response:\n" + response

prompt

'Dear Amazon, last week I ordered an Optimus Prime action figure\nfrom your online store in Germany. Unfortunately, when I opened the package,\nI discovered to my horror that I had been sent an action figure of Megatron\ninstead! As a lifelong enemy of the Decepticons, I hope you can understand my\ndilemma. To resolve the issue, I demand an exchange of Megatron for the\nOptimus Prime figure I ordered. Enclosed are copies of my records concerning\nthis purchase. I expect to hear from you soon. Sincerely, Bumblebee.\n\nCustomer service response:\nDear Bumblebee, I am sorry to hear that your order was mixed up.'

In [38]:
outputs = generator(prompt, max_length=200)
print(outputs[0]['generated_text'])

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

Dear Amazon, last week I ordered an Optimus Prime action figure
from your online store in Germany. Unfortunately, when I opened the package,
I discovered to my horror that I had been sent an action figure of Megatron
instead! As a lifelong enemy of the Decepticons, I hope you can understand my
dilemma. To resolve the issue, I demand an exchange of Megatron for the
Optimus Prime figure I ordered. Enclosed are copies of my records concerning
this purchase. I expect to hear from you soon. Sincerely, Bumblebee.

Customer service response:
Dear Bumblebee, I am sorry to hear that your order was mixed up. I

do not currently have the package ready for shipping, but I will send you a shipping notice for you. I am the first to receive your package and have since returned the package. I am sorry for the confusion over the order. Thank you for your understanding of my situation.